Source: caffeine
Section: misc
Priority: optional
Maintainer: Reuben Thomas <rrt@sc3d.org>
Build-Depends: debhelper (>= 8), dh-python, python3-all, python-setuptools, gettext
Standards-Version: 3.9.5
Homepage: https://launchpad.net/caffeine

Package: caffeine
Architecture: all
Depends:${misc:Depends}, ${python3:Depends},
    gir1.2-glib-2.0, python3-xlib, python3-pkg-resources, xdg-utils, libnet-dbus-perl
Description: Prevent the desktop becoming idle in full-screen mode
 Caffeine stops the desktop becoming idle when an application
 is running full-screen. A desktop indicator ‘caffeine-indicator’
 supplies a manual toggle, and the command ‘caffeinate’ can be used
 to prevent idleness for the duration of any command.
